*{
  font-family: ;
  padding: 10px;
  color: white;
}

body{
    background-color: silver;
}

.primaria{
  background-color: #FF4500;
  padding: 15px;
  margin-right: 1000px;
  border-radius: 4px;
  text-align: center;
  cursor: pointer;
}

.secundariacfo{
  background-color: #707070;
  padding: 15px;
  margin-right: 1000px;
  border-radius: 4px;
  text-align: center;
  cursor: pointer;
  position: relative; right: -5%;
}

/* CSO */
#toggle-2 {
  display:none;
}

label { 
 -webkit-appearance: push-button;
 -moz-appearance: button; 
 display: inline-block;
 cursor: pointer;
 padding: 5px;
}

#hm {
  display:none;
}

#toggle-2:checked ~ #hm {
  display:block;
}
/* FIM DO CSO */

.gestor{
  background-color: #ff6600;
  padding: 15px;
  margin-right: 1000px;
  border-radius: 4px;
  text-align: center;
  cursor: pointer;
  position: relative; right: -2%;
}

/* CFO */
#toggle-1 {
  display:none;
}

label { 
 -webkit-appearance: push-button;
 -moz-appearance: button; 
 display: inline-block;
 cursor: pointer;
 padding: 5px;
}

#mostra {
  display:none;
}

#toggle-1:checked ~ #mostra {
  display:block;
}
/* FIM DO CFO */

#toggle-5 {
  display:none;
}

label { 
 -webkit-appearance: push-button;
 -moz-appearance: button; 
 display: inline-block;
 cursor: pointer;
 padding: 5px;
}

#dez {
  display:none;
}

#toggle-5:checked ~ #dez {
  display:block;
}

.gestorqsma {
  background-color: #707070;
  padding: 15px;
  margin-right: 1000px;
  border-radius: 4px;
  text-align: center;
  cursor: pointer;
  position: relative; right: -5%;
}

/* GESTOR ENGELOG */
.gesteng{
  background-color: #707070;
  padding: 15px;
  margin-right: 1000px;
  border-radius: 4px;
  text-align: center;
  cursor: pointer;
  position: relative; right: -4%;
}

.gesteng1{
  background-color: rgb(248, 141, 0);
  padding: 15px;
  margin-right: 1000px;
  border-radius: 4px;
  text-align: center;
  cursor: pointer;
  position: relative; right: -3%;
}

#toggle-4 {
  display:none;
}

label { 
 -webkit-appearance: push-button;
 -moz-appearance: button; 
 display: inline-block;
 cursor: pointer;
 padding: 5px;
}

#englog {
  display:none;
}

#toggle-4:checked ~ #englog {
  display:block;
}


#toggle-8 {
  display:none;
}

label { 
 -webkit-appearance: push-button;
 -moz-appearance: button; 
 display: inline-block;
 cursor: pointer;
 padding: 5px;
}

#englog1 {
  display:none;
}

#toggle-8:checked ~ #englog1 {
  display:block;
}



#toggle-10 {
  display:none;
}

label { 
 -webkit-appearance: push-button;
 -moz-appearance: button; 
 display: inline-block;
 cursor: pointer;
 padding: 5px;
}

#englog2 {
  display:none;
}

#toggle-10:checked ~ #englog2 {
  display:block;
}
/* FINAL DO GESTOR ENGELOG */



/* GESTOR TIC */
.gestortic{
  background-color: #707070;
  padding: 15px;
  margin-right: 1000px;
  border-radius: 4px;
  text-align: center;
  cursor: pointer;
  position: relative; right: -3%;
}

#toggle-7 {
  display:none;
}

label { 
 -webkit-appearance: push-button;
 -moz-appearance: button; 
 display: inline-block;
 cursor: pointer;
 padding: 5px;
}

#tic {
  display:none;
}

#toggle-7:checked ~ #tic {
  display:block;
}
/* FINAL DO GESTOR TIC */