@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
*{
    margin: 0;
    padding: 0;
}
h2{
    text-align: center;
    color: orangered;
    font-size: 28px;
    font-weight: bold;
    text-transform: capitalize;
}
input :focus{
    width: 100%; 
    color: orangered;
    background-color: orangered;
    outline: none;
}



  


